python-dotenv
requests
fastapi
uvicorn[standard]
aiohttp
langchain-community
feedparser
beautifulsoup4
yfinance
scikit-learn
numpy
bytez
playwright
Pillow
groq
scrapling[fetchers]
pytrends
PyJWT
bcrypt
python-multipart
pyotp
